body {
  counter-reset: h1counter;
}

h1 {
  counter-reset: h2counter;
}

h2 {
  counter-reset: h3counter;
}

h1::before {
  counter-increment: h1counter;
  content: counter(h1counter) ". ";
}

h2::before {
  counter-increment: h2counter;
  content: counter(h1counter) "." counter(h2counter) ". ";
}

h3::before {
  counter-increment: h3counter;
  content: counter(h1counter) "." counter(h2counter) "." counter(h3counter) ". ";
}
