<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset='utf-8'>
     <link rel="stylesheet" type="text/css" href="/ClangXcodeML/assets/styles/stylesheet.css" media="screen">
    <title>{{page.title}}</title>
  </head>

  <body>
    <p>
      このページはomni-compiler/ClangXcodeMLの
      <a href="https://github.com/omni-compiler/ClangXcodeML/tree/gh-pages">gh-pagesブランチ</a>
      から
      <a href="https://pages.github.com/">GitHub Pages</a>
      を使って生成されました。
    </p>
    <hr/>
    {{content}}
  </body>
</html>
